html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, html {
  padding: 0;
  margin:  0;
  width: 100%;  
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(0deg, #78113B, #BD51A0);    
  // background-image: linear-gradient(-90deg, #13121C, #0E1220);
  color: #f0f0f0;
}

.nav{
  width:100%;
  margin: 0 auto;
  color: #fff;
  ul{
    width: 100px;
    margin: 0 auto;
    // background: red;
    li{
      color: white;
      font-size:1em;
      text-decoration: none;
      text-align: center;
      display: inline-block;
      font-family: sans-serif;
      margin-top: 10px;
      position: relative;
      text-transform: lowercase;
      font-family: 'Rajdhani', sans-serif;
    }
  }
}

.logo {
  position:     absolute;
  left:         50%;
  top:          50%;
  height:       25px;
  width:        120px;
  z-index:      2;
  margin-left: -60px;
  margin-top:  -32px;
  transform-origin: 50% 0;;
}

#main{
  margin-top: 15px;
  padding: 10px;
  height: 100%;
}

#sv-logo{
  width: 50%;  
  margin: 0 auto;
}

#l-1,#l-2,#l-3{
  // background: #0044FF;
  // padding: 0px 2.5px;
}
.mojs-line-tl-hook{
  position: absolute ;
  top: 0; left:0;
}

.svg-text{
  stroke: 'white';
}

.mojs-line-tl-hook{
  top: 0; left:0;
}

div.inner {
  padding: 4px 4px 8px 12px;
  overflow:auto;
}

.path, .x {
  stroke: 'red';
  fill: 'white';
  stroke-dasharray: 10;
  stroke-dashoffset: 10;
  stroke-width: 4px;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.hide{
  display: none;
}

/*
  font-family: 'Geo', sans-serif;
  //futuristic
  font-family: 'Nosifer', cursive;
  //dripping
  font-family: 'Lobster', cursive;
  //curled
  font-family: 'Rajdhani', sans-serif;
  //discrete

  320px
  480
  768
  1024
*/

  /* Desktops and laptops ----------- */
  @media (min-width : 480px) {
  /* Styles */
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
