body, html {
  padding: 0;
  margin:  0;
  width: 100%;  
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(-90deg, #78113B, #BD51A0);
  
    
  
}

.links {
  width: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -60px;
  // outline: 1px solid white;
}

.links .link {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: sans-serif;
  margin-top: 10px;
  position: relative;
}

.elem {
  width:         100%;
  height:        30px;
  border-radius: 50%;
  // background:    white;
  margin-top:   -10px;
  margin-left:  -10px;
  position:      absolute;
}

.nav{
  a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-family: sans-serif;
    margin-top: 10px;
    position: relative;
    text-transform: lowercase;
  }
}

.logo{
  margin: 10px;
  img{
    width: 100px;
  }
}

#jm{
  position: absolute;
  top: 10;
  left: 10;
}

#panel-top{
  background: dodgerblue;
  height: 500px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

#panel-bottom{
  background: dodgerblue;
  height: 700px;
  
}

.logo {
  position:     absolute;
  left:         50%;
  top:          50%;
  height:       25px;
  width:        120px;
  z-index:      2;
  margin-left: -60px;
  margin-top:  -32px;
  transform-origin: 50% 0;;
}

#jslogo{
  position: absolute;
}

#burst{
  position: absolute;
  left: 55px;
  top: 27px;
}

#logob{
    position: absolute;
    left: 108px;
}

#logoa, #logob, #burst{
  display: inline-block;
}
  

#logoa{

  span{
    // position: absolute;
    color: white;
    font-size: 1.9em;
    font-family: 'Geo', sans-serif;
    // font-family: 'Rajdhani', sans-serif;
    // font-family: 'Lobster', cursive;
    // font-family: 'Libre Barcode 39 Extended Text', cursive;
    // font-family: 'Nosifer', cursive;
  
  }
} 

.aa{
  font-family: 'Geo', sans-serif;
  //futuristic
}

.bb{
  font-family: 'Nosifer', cursive;
  //dripping
}

.cc{
  font-family: 'Lobster', cursive;
  //curled
  }


  .ee{
    font-family: 'Rajdhani', sans-serif;
    //discrete
  }

  
  .ff{
    font-family: 'Libre Barcode 39 Extended Text', cursive;
  }


/*

font-family: 'Geo', sans-serif;
font-family: 'Nosifer', cursive;
font-family: 'Lobster', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Libre Barcode 39 Extended Text', cursive;
font-family: 'Megrim', cursive;

*/

.logo-container{
  margin-top: 50px;
}